# File: .github/workflows/cache-test.yml
name: CI with Cache

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Prime cache-e8c33c2
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-e8c33c2

      - name: Show cache result
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"
