name: prime-cache-e8c33c2

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      # Restore cache before installing dependencies
      - name: prime-cache-e8c33c2
        id: prime-cache-e8c33c2
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-e8c33c2

      - name: Install dependencies
        run: npm install

      - name: Show cache result
        run: echo "Cache hit? ${{ steps.prime-cache-e8c33c2.outputs.cache-hit }}"
